vendor/async-aws
vendor/autoload.php
vendor/avalon
vendor/bin
vendor/brick
vendor/composer
vendor/doctrine
vendor/egulias
vendor/erusev
vendor/filp
vendor/psr
vendor/ramsey
vendor/symfony

vendor/traq/config/database.php
vendor/traq/config/mailer.php
vendor/traq/plugins/better_php_errors
.sass-cache
.project
.settings
.buildpath
.htaccess
_dev/
assets/ui
/php.php

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
