# Traq
/assets
/dev/node_modules
/config/config.php
/config/database.php
/assets/components
/assets/js/js.js
/themes
/tmp
/code_coverage

# Composer
/vendor

# Misc
.sass-cache
.DS_Store
.project
.settings
.buildpath
.htaccess
.idea
.phpintel
