# Ignore all vendor/ directory except for Traq
vendor/async-aws
vendor/autoload.php
vendor/avalon
vendor/bin
vendor/brick
vendor/composer
vendor/doctrine
vendor/egulias
vendor/erusev
vendor/filp
vendor/psr
vendor/ramsey
vendor/symfony
vendor/league
vendor/nette
vendor/dflydev

# Ignore config files
data/config/config.php
data/config/database.php
data/config/mailer.php
vendor/traq/config/database.php
vendor/traq/config/mailer.php

# dev files
.env
.htaccess
*.local
.vscode/
.dev/data/db
assets/ui
node_modules

# Logs
data/logs/
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Misc
.DS_Store
