parameters:
    level: 1
    scanDirectories:
        - vendor/traq
        - vendor/avalon
    bootstrapFiles:
        - src/aliases.php
    ignoreErrors:
        - '#Constant (LOGGEDIN|DOCROOT|SYSPATH|APPPATH|DATADIR) not found#'
        -
            identifier: variable.undefined
            path: src/views
