/* ==========# Sexy Buttons #========== */
.button_new, .button_edit, .button_delete,
.btn_plugin_enable, .btn_plugin_disable,
.btn_plugin_install, .btn_plugin_uninstall,
.button_bug_new {
	padding:  1px 0 1px 20px;
	background-position: left center;
	background-repeat: no-repeat;
	
	&.small {
		background-position: center;
		padding: 0;
		height: 18px;
		width: 18px;
		text-indent: -5000px;
		display: inline-block;
		margin: 0;
	}
}

.button_new {
	background-image: url(':baseuri:assets/images/add.png');
}

.button_edit {
	background-image: url(':baseuri:assets/images/pencil.png');
}

.button_delete {
	background-image: url(':baseuri:assets/images/delete.png');
}

.btn_plugin_enable {
	background-image: url(':baseuri:assets/images/plug-connect.png');
}

.btn_plugin_disable {
	background-image: url(':baseuri:assets/images/plug-disconnect.png');
}

.btn_plugin_install {
	background-image: url(':baseuri:assets/images/plug-plus.png');
}

.btn_plugin_uninstall {
	background-image: url(':baseuri:assets/images/plug-minus.png');
}

.button_bug_new {
	background-image: url(':baseuri:assets/images/bug_add.png');
}