.tabular {
	.group {
		margin: 0;
		padding: 5px 0;
		padding-left: 125px;
		clear: left;
	}
	
	label {
		font-weight: bold;
		float: left;
		margin-left: -125px;
		text-align: right;
		width: 120px;
	}
	
	input {
		margin-top: 1px;
		vertical-align: middle;
	}
}

.error, .success, .notice, .info {
	ul {
		margin-bottom: 0;
	}
}

form {
	.actions {
		text-align: center;
		padding: 4px 0;
	}

	abbr {
		border-radius: 15px;
		background: #d5edf8;
		color: #205791;
		border: 1px solid #92cae4;
		padding: 0 5px;
		cursor: default;
	}
	
	select {
		margin-top: 0;
	}
	
	textarea {
		height: 150px;
		width: 98%;
	}
}