#popover {
	display: none;
	position: absolute;
	border-radius: 4px;
	box-shadow: 0 0 5px #444;
	z-index: 2100;
	background: #fff;
	border: 1px solid #3478AA;
	color: #000;
	padding: 4px;

	ul, ol {
		margin-bottom: 0;
	}
}