.profile.content {
	.span-16 {
		width: 665px;
	}
	
	.sidebar 
	{
		.box {
			margin-bottom: 5px;
			
			&:last-child {
				margin-bottom: 0;
			}
		}
		
		.information {
			dl {
				margin: 0;
				
				dt {
					min-width: 100px;
					text-align: right;
					margin: 0;
					margin-right: 2px;
					display: inline-block;
				}
				
				dd {
					width: auto;
					margin: 0;
					display: inline-block;
				}
			}
		}
	}
	
	#assigned_to {
		table.list {
			th.project {
				width: 90px;
			}
			th.owner {
				width: 85px;
			}
			th.status {
				width: 75px;
			}
			th.created, th.updated {
				width: 90px;
			}
		}
	}
}