body {
  /* background: #e9e9e9; */
  @apply bg-gray-50;
  @apply text-white;
}

#page_title {
  line-height: 1;
  @apply my-2;
}

#page {
  @apply bg-white;
  @apply text-black;
  @apply shadow-sm;
  @apply pb-2;
}

.content {
  padding: 10px;
}

.box,
.inline_box {
  @apply bg-gray-50;
  @apply border border-solid border-gray-300 rounded;

  & .box-title,
  & .box_title {
    margin-top: 5px;
    margin-bottom: 0;
  }
}

#footer {
  @apply my-5;
  @apply text-gray-400;
  @apply text-center;
}
