#header {
  /* background: #3478aa; */
  @apply bg-brand-500;
  @apply text-white;
  @apply text-base;
  @apply p-4;

  & h1 {
    margin: 0;
    @apply text-xl;

    & a {
      text-decoration: none;
      @apply text-white;
    }
  }

  & > .container {
    display: flex;
    align-items: center;
  }
}

#meta_nav {
  /* background: #265f98; */
  @apply bg-brand-600;

  @apply text-xs;
  @apply h-5;
  padding: 2px 5px;

  @apply flex;
  @apply items-center;

  & ul {
    margin: 0;
    padding: 0;

    & li {
      display: inline;
      margin-right: 5px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  & a {
    color: #fff;
    text-decoration: none;
  }

  & li.active,
  & a:hover {
    text-decoration: underline;
  }
}

#user_nav {
  float: right;
}

#nav {
  @apply ml-5;

  & > ul,
  & > ul > li {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  & > ul {
    display: flex;
  }

  & > ul > li {
    & > a {
      text-decoration: none;

      @apply text-white/70 hover:text-white;
      @apply text-sm;
      @apply px-2 py-1;
    }

    &.active > a {
      @apply text-white;
    }
  }
}
