.input-group {
  display: flex;
  align-items: flex-start;

  & > * {
    @apply !rounded-none;

    &:first-child {
      @apply !rounded-l;
    }

    &:last-child {
      @apply !rounded-r;
    }
  }
}

.btn-primary,
.btn-secondary,
.btn-info,
.btn-success,
.btn-warning,
.btn-danger,
button,
input[type="submit"],
input[type="button"],
input[type="reset"] {
  /* line-height: 1.25; */
  text-decoration: none;
  display: inline-block;
  @apply text-center;
  @apply text-sm;
  @apply py-2 px-3;
  @apply border border-solid rounded;
  @apply bg-gray-200 hover:bg-gray-300 active:bg-gray-400;
  @apply border-gray-200 hover:border-gray-300 active:border-gray-400;
  @apply focus:ring-4 ring-gray-400/30;
  @apply transition-all;
  @apply cursor-pointer;
  @apply appearance-none;

  &.btn-sm {
    @apply text-xs;
    @apply py-1 px-2;
  }

  &.btn-xs {
    @apply text-xs;
    @apply p-1;
  }

  &:disabled,
  &.disabled {
    @apply cursor-not-allowed;

    &,
    &:hover,
    &:active {
      @apply bg-gray-100 border-gray-100;
    }
  }

  &.btn-primary {
    @apply text-white;
    @apply bg-brand-500 hover:bg-brand-600 active:bg-brand-700;
    @apply border-brand-500 hover:border-brand-600 active:border-brand-700;
    @apply ring-brand-500/30;

    &:disabled,
    &.disabled {
      &,
      &:hover,
      &:active {
        @apply bg-brand-300 border-brand-300;
      }
    }
  }

  &.btn-secondary {
    @apply text-black;
  }

  &.btn-info {
    @apply text-white;
    @apply bg-cyan-600 hover:bg-cyan-700 active:bg-cyan-800;
    @apply border-cyan-600 hover:border-cyan-700 active:border-cyan-800;
    @apply ring-cyan-600/30;

    &:disabled,
    &.disabled {
      &,
      &:hover,
      &:active {
        @apply bg-cyan-400 border-cyan-400;
      }
    }
  }

  &.btn-success {
    @apply text-white;
    @apply bg-emerald-600 hover:bg-emerald-700 active:bg-emerald-800;
    @apply border-emerald-600 hover:border-emerald-700 active:border-emerald-800;
    @apply ring-emerald-600/30;

    &:disabled,
    &.disabled {
      &,
      &:hover,
      &:active {
        @apply bg-emerald-400 border-emerald-400;
      }
    }
  }

  &.btn-warning {
    @apply text-gray-900;
    @apply bg-amber-400 hover:bg-amber-500 active:bg-amber-600;
    @apply border-amber-400 hover:border-amber-500 active:border-amber-600;
    @apply ring-amber-400/30;

    &:disabled,
    &.disabled {
      &,
      &:hover,
      &:active {
        @apply bg-amber-200 border-amber-200;
      }
    }
  }

  &.btn-danger {
    @apply text-white;
    @apply bg-rose-600 hover:bg-rose-700 active:bg-rose-800;
    @apply border-rose-600 hover:border-rose-700 active:border-rose-800;
    @apply ring-rose-600/30;

    &:disabled,
    &.disabled {
      &,
      &:hover,
      &:active {
        @apply bg-rose-400 border-rose-400;
      }
    }
  }

  &.btn-link {
    @apply bg-transparent border-transparent;
    @apply active:ring-0 focus:ring-0;
  }
}

.btn-pill-group {
  width: max-content;
  list-style: none;
  margin: 0;
  box-sizing: border-box;
  display: flex;

  @apply text-sm;
  @apply rounded-md;
  @apply bg-gray-200;
  @apply p-1 mb-4;

  & > a {
    @apply text-gray-600 hover:text-gray-800;
    @apply no-underline;
    @apply px-4 py-2;

    &.active {
      @apply text-gray-900;
      @apply bg-white;
      @apply rounded;
    }
  }
}

.btn-group {
  @apply flex;

  & > * {
    @apply rounded-none;

    &:first-child {
      @apply rounded-l;
    }

    &:last-child {
      @apply rounded-r;
    }
  }
}
