#header {
  /* background: #3478aa; */
  @apply bg-brand-500;
  @apply text-white;
  @apply p-4;

  & h1 {
    margin: 0;
    @apply text-xl;

    & a {
      text-decoration: none;
      @apply text-white;
    }
  }

  & > .container {
    display: flex;
    align-items: center;
  }
}

#meta-nav {
  @apply bg-brand-600;
  @apply text-xs;
  @apply h-5;
  @apply flex items-center;

  & > .container {
    @apply flex items-center;

    & > ul:first-child {
      @apply flex-grow;
    }

    & > ul {
      @apply m-0 p-0;
      @apply flex;
      @apply list-none;

      & > li {
        @apply mr-2;

        &:last-child {
          @apply mr-0;
        }

        & > a {
          @apply text-white/80 hover:text-white;
        }

        &.active > a {
          @apply text-white;
          @apply underline;
        }
      }
    }
  }
}

#meta-nav .project-switcher {
  @apply absolute;
  @apply bg-white text-black;
  @apply rounded;
  @apply shadow-md;
  @apply p-2;
  @apply min-w-[120px];

  & li {
    @apply block;
  }

  & a {
    @apply block;
    @apply text-black;
    @apply hover:bg-gray-200;
    @apply rounded;
    @apply px-2 py-1;
  }
}

#nav {
  display: flex;
  flex-grow: 1;
  align-items: center;
  @apply ml-5;

  & > ul,
  & > ul > li {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  & > ul {
    display: flex;
  }

  & > ul > li {
    & > a {
      text-decoration: none;

      @apply text-white/70 hover:text-white;
      @apply text-sm;
      @apply px-2 py-1;
    }

    &.active > a {
      @apply text-white;
    }
  }

  & > ul:first-child {
    flex-grow: 1;
  }
}
