.panel {
  /* @apply bg-gray-100 rounded; */
@apply rounded-lg shadow-sm bg-gray-50;
@apply border border-solid border-gray-300 rounded;


  & .panel-title {
  }

  & .panel-content {
    @apply p-2;
  }

  & .panel-footer {
    @apply p-2;
    @apply text-center;
    @apply bg-gray-100;
    @apply rounded-b;
  }
}

.box {
  @apply p-4;
}
