#popover {
  min-width: 200px;
  position: absolute;
  z-index: 10;

  .popover_confirm {
    @apply p-2 text-center;

    & > div {
      @apply mt-2;

      button {
        &:first-child {
          @apply bg-red-500 border-red-500 hover:bg-red-600 text-white;
          @apply rounded-r-none;
        }

        &:last-child {
          @apply rounded-l-none;
        }
      }
    }
  }

  .popover-content {
    @apply p-2 bg-white text-gray-900 shadow-md rounded;

    & > ol {
      @apply m-0;
    }
  }
}

.popover-confirm,
.popover_confirm {
  min-width: 200px;
  z-index: 999;

  @apply bg-white text-gray-900;
  /* @apply border border-solid border-gray-100 rounded; */
  @apply shadow-md;
  @apply absolute;
  @apply rounded;

  & > .popover-confirm-content {
    @apply p-2;
    @apply text-lg text-center;
  }

  & > .popover-confirm-actions {
    @apply flex;

    & > button {
      @apply grow;
      @apply rounded-none;

      &:first-child {
        @apply rounded-bl;
      }

      &:last-child {
        @apply rounded-br;
      }
    }
  }
}
