.profile.content {
    .span-16 {
        width: 665px;
    }

    .sidebar {
        .box {
            margin-bottom: 5px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        .information {
            dl {
                margin: 0;

                dt {
                    min-width: 100px;
                    text-align: right;
                    margin: 0;
                    margin-right: 2px;
                    display: inline-block;
                }

                dd {
                    width: auto;
                    min-width: 50px;
                    margin: 0;
                    display: inline-block;
                }
            }
        }
    }

    #assigned_to {
        table.list {
            th.project {
                width: 90px;
            }

            th.owner {
                width: 85px;
            }

            th.status {
                width: 75px;
            }

            th.created, th.updated {
                width: 90px;
            }
        }
    }
}

.profile.content #assigned_to {
    & .id {
        @apply w-12;
    }

    & .status,
    & .type,
    & .milestone,
    & .component {
        @apply w-40;
    }

    & .sort {
        background-repeat: no-repeat;
        background-position: 95% center;
        background-size: 16px;
    }

    & .sort.asc {
        background-image: url('data:image/svg+xml,<svg class="svg-inline--fa fa-chevron-up" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-up" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path class="" fill="white" d="M201.4 105.4c12.5-12.5 32.8-12.5 45.3 0l192 192c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L224 173.3 54.6 342.6c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3l192-192z"></path></svg>');
    }

    & .sort.desc {
        background-image: url('data:image/svg+xml,<svg class="svg-inline--fa fa-chevron-down" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-down" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path class="" fill="white" d="M201.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L224 338.7 54.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"></path></svg>');
    }

    .filters {
        @apply flex gap-4 p-4;
    }
}
