#project_list {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
        h3 {
            margin: 0;
            margin-top: 10px;

            em {
                font-size: 14px;
            }
        }

        nav {
            ul {
                list-style: none;
                padding: 0;
                margin: 0;

                li {
                    display: inline;
                    margin-right: 4px;
                }
            }
        }
    }
}

.project_info {
    margin-top: 10px;
}
