#project_list {
    padding: 0;
    list-style: none;

    @apply m-0 mt-4;
    @apply grid gap-4 md:grid-cols-2;

    & > li {
        display: block;
        @apply border border-solid border-gray-300 rounded;
        @apply bg-white shadow-sm p-6 relative overflow-hidden;

        h3 {
            margin: 0;

            em {
                font-size: 14px;
            }
        }

        nav {
            @apply my-2;

            ul {
                list-style: none;
                padding: 0;
                margin: 0;

                li {
                    display: inline;
                    margin-right: 4px;
                }
            }
        }
    }
}

.project_info {
    margin-top: 10px;
}
