.roadmap > .milestone {
  @apply border border-solid border-gray-300 rounded;
  @apply bg-white shadow-sm p-6 relative overflow-hidden;
  @apply mb-8;

  &:last-child {
    @apply mb-0;
  }

  & .milestone-header {
    @apply flex items-baseline justify-between mb-4;
  }

  & .milestone-content {
    @apply flex flex-col lg:flex-row gap-6;
  }

  & .milestone-name {
    @apply text-xl font-bold text-slate-800 mb-0;

    & em {
      @apply text-slate-500;
    }
  }

  & .milestone-due {
    @apply text-sm text-slate-500;
  }

  & .milestone-info {
    @apply flex-1 lg:border-l lg:border-slate-100 lg:pl-6;
  }
}

.progress-bar {
  @apply h-2.5 w-full bg-slate-100 rounded-full overflow-hidden flex;
}
