.view-ticket {
  @apply pt-5;
}

.ticket-header {
  display: flex;
  align-items: center;
  @apply mb-3;

  & > .ticket-summary {
    flex-grow: 1;
    @apply text-2xl;
  }
}

.ticket-info-section {
  @apply rounded-lg shadow-sm bg-gray-50;
  @apply border border-solid border-gray-300 rounded;

  & > h3 {
    @apply flex justify-between items-center px-3 py-2 border-b-0 cursor-pointer;
    @apply text-[1rem] font-medium;

    & > svg {
      @apply h-3 w-3;
    }
  }

  &.open > h3 {
    @apply border-b;
  }

  & > .ticket-info-content {
    @apply p-3;

    & > div {
      @apply grid grid-cols-3 gap-3;
      @apply mb-3;

      & > label {
        @apply font-semibold block;
        @apply text-gray-700;
        @apply col-span-1;
      }

      & > div {
        @apply text-gray-900;
        @apply col-span-2;
      }

      &:last-child {
        @apply mb-0;
      }
    }
  }
}

.ticket-description {
  display: flex;
  flex-direction: column;

  @apply shadow-sm;
  @apply text-gold-900;
  @apply bg-gold-300;
  @apply border border-solid border-gold-600 rounded;
  @apply p-4;

}

.ticket-edit-actions {
  @apply mt-2;
  text-align: right;

  & > button {
    @apply mr-1;
  }
}

.ticket-tasks,
.ticket-attachments {
  @apply mb-2;

  &:last-child {
    @apply mb-0;
  }

  & > h3 {
    @apply pt-2;
    @apply border-t border-solid border-gold-600 rounded;
  }

  & > ul {
    @apply m-0 p-0;
    @apply list-none;
    @apply inline-block;

    & > li {
      @apply m-0 p-0;
    }
  }

  & .ticket-task {
    @apply cursor-pointer;

    & > span:last-child {
      @apply ml-2;
    }
  }
}

.ticket-history {
  & > h3 {
    @apply text-lg;
  }

  & > .update-mini {
    @apply flex flex-col;
    @apply mb-4;
    @apply text-gray-700;

    & > .update-change {
      @apply flex items-center;

      & > .update-icon {
        @apply bg-gray-100 rounded-full;
        @apply p-2 mr-3;
        @apply w-9 h-9;
        @apply flex items-center justify-center;
      }

      & > .update-info {
        @apply flex-grow;
      }
    }

    & > .update-comment {
      @apply bg-white;
      @apply border border-solid border-gray-300 rounded;
      @apply p-2 ml-11;
    }
  }

  & > .update {
    @apply bg-white shadow-sm;
    @apply border border-solid border-gray-300 rounded;
    @apply mb-4;

    & > .update-meta {
      display: flex;
      align-items: center;
      @apply rounded-t;
      @apply bg-gray-50;
      @apply p-2;

      & > h4 {
        flex-grow: 1;
        margin: 0;
      }
    }

    & > .changes,
    & > .comment {
      @apply m-2;
    }

    & .change-from {
      @apply bg-red-50;
      @apply line-through;
      @apply rounded;
    }

    & .change-to {
      @apply bg-green-50;
      @apply rounded;
    }
  }
}

.update-ticket {
  @apply rounded-lg shadow-sm bg-gray-50;
  @apply border border-solid border-gray-300 rounded;
  @apply mt-4;

  & > h3 {
    @apply flex justify-between items-center px-3 py-2 border-b cursor-pointer m-0;
    @apply text-[1rem] font-medium;
  }

  & .EasyMDEContainer {
    & .editor-toolbar,
    & .CodeMirror {
      @apply border-0;
      @apply border-b;
    }
  }

  .panel {
    border: 0;
  }

  .panel-content {
    @apply grid grid-cols-2 gap-4 p-4;
    box-sizing: border-box;

    & .form-group {
      @apply col-span-1 m-0 max-w-full min-w-full;
    }
  }
}

.ticket-related-tickets {
  @apply rounded-lg shadow-sm bg-gray-50;
  @apply border border-solid border-gray-300 rounded;

  & > h3 {
    @apply flex justify-between items-center px-3 py-2 border-b-0 cursor-pointer;
    @apply text-[1rem] font-medium;

    & > svg {
      @apply h-3 w-3;
    }
  }

  &.open > h3 {
    @apply border-b;
  }

  & > div {
    @apply p-3;

    & > div {
      @apply mb-4;

      &:last-child {
        @apply mb-0;
      }
    }
  }

  & h4 {
    @apply text-[1rem] mb-2;
  }

  ul {
    @apply list-none p-0 m-0;
    @apply flex flex-col gap-1;
  }

  ul > li {
    @apply flex gap-2;
  }
}
