<div class="pull-right">
	<?php if (isset($page)) : ?>
	<div class="btn-group">
		<a href="<?=routeUrl('wiki_revisions', ['wslug' => $page['slug']])?>" class="btn btn-sm btn-default">
			<i class="fa fa-files-o"></i> <?=t('revisions')?>
		</a>
	<?php if (currentUser()) : ?>
		<?php if (hasPermission('edit_wiki_page')) : ?>
		<a href="<?=routeUrl('wiki_edit', ['wslug' => $page['slug']])?>" class="btn btn-sm btn-warning">
			<i class="fa fa-pencil"></i> <?=t('edit')?>
		</a>
		<?php endif ?>
		<?php if (hasPermission('delete_wiki_page')) : ?>
		<a href="<?=routeUrl('wiki_delete', ['wslug' => $page['slug']])?>" class="btn btn-sm btn-danger" data-confirm="<?=t('confirm.delete_x', [$page['title']])?>" data-method="delete">
			<i class="fa fa-trash"></i> <?=t('delete')?>
		</a>
		<?php endif ?>
	<?php endif ?>
	</div>
	<?php endif ?>

	<div class="btn-group">
		<a href="<?=routeUrl('wiki')?>" class="btn btn-sm btn-default">
			<i class="fa fa-home"></i> <?=t('home')?>
		</a>
		<a href="<?=routeUrl('wiki_pages')?>" class="btn btn-sm btn-default">
			<i class="fa fa-list"></i> <?=t('pages')?>
		</a>
	<?php if (currentUser()) : ?>
		<?php if (hasPermission('create_wiki_page')) : ?>
		<a href="<?=routeUrl('wiki_new')?>" class="btn btn-sm btn-default">
			<i class="fa fa-plus"></i> <?=t('new_page')?>
		</a>
		<?php endif ?>
	<?php endif ?>
	</div>
</div>
