@import url('../../reset.css');

body {
	font-family: Verdana, sans-serif;
	background-color: #eee;
	color: #000;
	margin: 0;
	padding: 0;
	font-size: 12px;
}

.width {
	width: 800px;
	margin: 0 auto;
}

#header a:link,
#header a:active,
#header a:visited,
#header a:hover
{
	color: #fff;
	text-decoration: none;
}

a:link,
a:active,
a:visited {
	color: #275067;
	text-decoration: underline;
}
a:hover {
	color: #000;
}

#header {
	background: #275067;
	color: #fff;
}
#header nav {
	height: 20px;	
}
#header nav li {
	display: inline;
}
#header nav a:link,
#header nav a:active,
#header nav a:visited {
	display: block;
	float: left;
	padding: 4px 10px;
	color: #fff;
	text-decoration: none;
}
#header nav a:hover {
	background: #fff;
	color: #000;
}
#meta_nav {
	float: right;
}

h1 {
	font-weight: bold;
	font-size: 24px;
	padding: 8px 0;
}

h2 {
	font-weight: bold;
	font-size: 18px;
	margin-bottom: 8px;
}

h3 {
	font-weight: bold;
	font-size: 14px;
}

#page {
	background: #fff;
	padding: 5px;
}

footer {
	padding: 5px;
	text-align: center;
	border-top: 1px solid #275067;
}

#overlay_blackout {
	position: absolute;
	background-color: #000;
	left: 0;
	top: 0;
	display: none;
}
#overlay_wrapper {
	position: absolute;
	display: none;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow: 0px 0px 20px #999;
	-webkit-box-shadow: 0px 0px 20px #999;
	box-shadow: 0px 0px 20px #999;
}
#overlay {
	background: #fff;
	color:  #000;
	width: 500px;
	z-index: 1000;
}
#overlay .overlay_header {
	background: #275067;
	padding: 5px;
	color: #fff;
}
#overlay .overlay_header {
	margin: 0;
}
#overlay .overlay_actions {
	background: #eee;
	text-align: right;
	padding: 5px;
}
#overlay .overlay_contents {
	padding: 5px;
}

p { margin-bottom: 8px; }
blockquote, .prettyprint { border: 1px solid #e4e4e4; padding: 5px; margin-bottom: 8px; background: #f6f6f6; }
blockquote p { margin: 0; }
ul { list-style: square; }
li { margin-left: 20px; }

ul.list h3 {
	font-size: 16px;
	margin-bottom: 5px;
}
ul.list li {
	padding-bottom: 4px;
}
.projects_list .info,
.milestones_list .info {
	padding: 5px 0;
}

table.progress {
	border: 1px solid #c0c0c0;
	height: 12px;
	width: 250px;
	float: left;
}
.progress .closed {
	background: #afdbaf;
}
.progress-info {
	clear: both;
	font-size: 11px;
	padding: 4px;
}
.percent {
	float: left;
	padding-left: 5px;
	font-size: 11px;
}

table.list, div.list {
	border: 1px solid #c0c0c0;
	width: 100%;
}
table.list td, div.list div {
	padding: 2px;
}

.related-tickets h4 {
	margin-bottom: 4px;
	font-size: 11px;
}
.related-tickets .list {
	margin-bottom: 5px;
}

.related-tickets a {
	text-decoration: none;
}
.related-tickets .closed,
.related-tickets .closed:link,
.realted-tickets .closed:visited {
	text-decoration: line-through;
	color: #999;
}