body {
	background: #1c5e7e;
	color: #fff;
	font-family: Verdana,sans-serif;
	font-size: 12px;
	margin: 0;
	padding: 0;
}

#wrapper {
	width: 620px;
	margin: 0 auto;
}

h1 {
	margin: 5px 0;
}

#footer {
	text-align: center;
	padding: 5px;
}

#page {
	background: #fff;
	color: #000;
	padding: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

h2 {
	margin: 0 0 5px 0;
}

#licence, #config_code {
	width: 560px;
	height: 400px;
	overflow: scroll;
	margin: 0 auto;
	background: #F6F6F6;
	border: 1px solid #e4e4e4;
	padding: 4px;
}

#actions {
	text-align: center;
	padding: 5px;
}

.message {
	background: #F6F6F6;
	border: 1px solid #e4e4e4;
	padding: 4px;
}
.message.error {
	background: #ffeded;
	border-color: #ffc9c9;
}
.message.good {
	background: #edfff0;
	border-color: #c9ffd3;
}

.inputForm {
	width: 300px;
	margin: 0 auto;
}
.inputForm .label {
	text-align: right;
	font-weight: bold;
	width: 100px;
}
input {
	background: #F6F6F6;
	border: 1px solid #e4e4e4;
}