/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*!
 * Traq Install
 * Copyright (c) 2009-2013 Traq.io
 * @license GNU General Public License v3 only
 */
body {
  font-family: Arial, Helvetica, sans-serif;
  background: #e9e9e9;
  color: #fff;
  margin: 30px; }

#wrapper {
  width: 580px;
  margin: 0 auto;
  border-radius: 5px;
  box-shadow: 0 0 25px 1px rgba(0, 0, 0, 0.4); }

header {
  background: #3478AA;
  padding: 10px;
  height: 20px;
  border-radius: 5px 5px 0 0; }
header h1 {
  font-weight: bold;
  float: left; }
header h2 {
  float: right;
  font-weight: bold; }

#page {
  background: #fff;
  color: #000;
  padding: 10px;
  border-radius: 5px;
  margin: -5px 0;
  z-index: 10;
  position: relative;
  font-size: 14px; }

code {
  font-family: "Courier New", Courier, monospace;
}

p {
  margin-bottom: 10px;
}
p:last-child {
  margin-bottom: 0;
}

#licence, #config_code {
  width: 550px;
  height: 400px;
  overflow: scroll;
  margin: 0 auto;
  background: #F6F6F6;
  border: 1px solid #e4e4e4;
  padding: 4px;
  font-size: 12px;
  font-family: "Courier New", Courier, monospace; }
#config_code {
  height: 125px }

.tabular .group {
  margin: 0;
  padding: 5px 0;
  padding-left: 250px;
  clear: left; }
.tabular label {
  font-weight: bold;
  float: left;
  margin-left: -250px;
  text-align: right;
  width: 245px;
  font-size: 12px;
  padding-top: 3px; }
.tabular input {
  margin-top: 0px;
  vertical-align: middle; }
.tabular select {
  margin-top: 0; }

.actions {
  text-align: center;
  margin-top: 5px; }

div.error, .alert, .notice, .success, .info {padding:0.8em;margin-bottom:1em;border:2px solid #ddd;}
div.error, .alert {background:#fbe3e4;color:#8a1f11;border-color:#fbc2c4;}
.notice {background:#fff6bf;color:#514721;border-color:#ffd324;}
.success {background:#e6efc2;color:#264409;border-color:#c6d880;}
.info {background:#d5edf8;color:#205791;border-color:#92cae4;}
.error a, .alert a {color:#8a1f11;}
.notice a {color:#514721;}
.success a {color:#264409;}
.info a {color:#205791;}

.error label {
  color: red; }
.error input {
  border: 1px solid red;
  padding: 2px; }

footer {
  font-size: 11px;
  padding: 6px;
  padding-top: 10px;
  background: #d9d9d9;
  color: #000;
  border-radius: 0 0 5px 5px; }
