<?php $this->extend('layouts/default.phtml'); ?>

<?php $this->startSection('navbar'); ?>
<div class="navbar-header">
	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
		<span class="sr-only"><?=t('toggle_navigation')?></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	</button>
	<a href="<?=routeUrl('project')?>" class="navbar-brand"><?=currentProject()['name']?></a>
	<a href="<?=routeUrl('project_settings')?>" class="navbar-brand"><?=t('settings')?></a>
</div>

<div class="collapse navbar-collapse" id="navbar-collapse-1">
	<ul class="nav navbar-nav">
		<li<?=iif(Request::matches(routePath('project_settings_milestones') . '(/.*)?'), ' class="active"')?>>
			<a href="<?=routeUrl('project_settings_milestones')?>"><?=t('milestones')?></a>
		</li>
		<li<?=iif(Request::matches(routePath('project_settings_components') . '(/.*)?'), ' class="active"')?>>
			<a href="<?=routeUrl('project_settings_components')?>"><?=t('components')?></a>
		</li>
	</ul>
</div>
<?php $this->endSection(); ?>
