// Roadmap CSS

.roadmap.container {
  > ul {
    list-style: none;
    padding: 0;

    > li {
      h2 {
        border-bottom: 1px solid #eee;
      }

      .progress {
        margin-bottom: 5px;
      }

      .issue-counts {
        list-style: none;
        margin: 0;
        margin-bottom: 10px;
        padding: 0;

        a:link, a:visited, a:active, a:hover {
          color: #999;
        }

        li {
          display: inline;
          margin-right: 10px;
        }
      }
    }
  }
}
