#ticket-filters {
    .filter-name {
        width: 200px;
    }

    .filter-condition {
        width: 200px;
    }

    .filter-actions {
        width: 20px;
        text-align: right;
    }

    .actions {
        text-align: right;
    }
}

#ticket-filters,
#ticketlist-columns {
    margin-bottom: 20px;

    legend {
        margin-bottom: 10px;
    }
}

#ticket-filters-content,
#ticketlist-columns-content {
    display: none;
    padding: 0 5px;
}
