<?php $this->extend('layouts/usercp.phtml'); ?>

<?php $this->startSection('content'); ?>
<div class="usercp container">
	<h1 class="page-header"><?=t('password')?></h1>

	<form action="<?=routeUrl('usercp_password_save')?>" method="post" class="form-horizontal">
		<input type="hidden" name="_method" value="patch">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="form-group <?=$user->hasError('current_password') ? 'has-error' : ''?>">
					<?=Form::label(t("current_password"), "current_password", ['class' => "control-label col-md-4"])?>
					<div class="col-md-8">
						<?=Form::password("current_password", ['class' => "form-control"])?>
						<?php if ($user->hasError('current_password')) : ?>
							<div class="help-block"><?=$user->getError('current_password')[0]?></div>
						<?php endif ?>
					</div>
				</div>

				<div class="form-group <?=$user->hasError('password') ? 'has-error' : ''?>">
					<?=Form::label(t("password"), "password", ['class' => "control-label col-md-4"])?>
					<div class="col-md-8">
						<?=Form::password("password", ['class' => "form-control"])?>
						<?php if ($user->hasError('password')) : ?>
							<div class="help-block"><?=$user->getError('password')[0]?></div>
						<?php endif ?>
					</div>
				</div>

				<div class="form-group <?=$user->hasError('password_confirmation') ? 'has-error' : ''?>">
					<?=Form::label(t("confirm_password"), "password_confirmation", ['class' => "control-label col-md-4"])?>
					<div class="col-md-8">
						<?=Form::password("password_confirmation", ['class' => "form-control"])?>
						<?php if ($user->hasError('password_confirmation')) : ?>
							<div class="help-block"><?=$user->getError('password_confirmation')[0]?></div>
						<?php endif ?>
					</div>
				</div>
			</div>
		</div>

		<div class="row text-center">
			<?=Form::submit(t('save'), ['class' => "btn btn-success"])?>
		</div>
	</form>
</div>
<?php $this->endSection(); ?>
